.product-preview {
    max-width: 100%;
    display: flex;
}

.product-preview_title {
    font-size: 28px;
    margin-bottom: 25px;
}

.product-preview_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:0 auto;
}